<div class="card bg-dark text-white"  *ngIf="asignatura">
  <div class="card-header"> Crear Asignatura
    <div class="card-body">

    <form #asignaturaForm= "ngForm">
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Nombre asignatura</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="asignatura.nombre" name= "nombre">
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Profesor</label>
        <div class="col-sm-6">
          <select  [compareWith]="compararProfesor" class="form-control" [(ngModel)]= "asignatura.profesor" name = "profesor" style="width:500px;">
            <option [ngValue]= "undefined">---Seleccionar un profesor ---</option>
            <option *ngFor= "let profesor of profesores" [ngValue]="profesor">{{profesor.nombre}} {{profesor.apellido}}</option>
          </select>
        </div>
      </div>
      <!--
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="submit" (click)="create()" value="Crear Asignatura" class="btn btn-secondary">
        </div>
      </div>
      -->
      <div class="form-group row">
        <div class="col-sm-6">                            <!-- Condicion. Si no existe lo creamos y sino lo modificamos. MISMO FORMULARIO != FUNCION-->
          <button class= "btn btn-primary" role="button" (click)= 'create()' *ngIf="!asignatura.idAsignatura else elseBlock" [disabled]= "!asignaturaForm.form.valid">Crear Asignatura</button>
          <ng-template #elseBlock>
            <button class= "btn btn-primary" role="button" (click) = 'update()' [disabled]= "!asignaturaForm.form.valid" >Modificar Asignatura</button>
          </ng-template>

        </div>
      </div>
    </form>

    </div>
  </div>
</div>
