<div class="card bg-light" *ngIf="asignatura">
  <div class="card-header">{{titulo}}: {{asignatura.nombre}}
    <div class="card-body">
      <h4 class="card-title">
        <a [routerLink]= "['/usuarios']" class="btn btn-light btn-xs"> &laquo; volver</a>
      </h4>
      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">Datos del Profesor</li>
        <li class="list-group-item">{{asignatura.profesor.nombre}}   {{asignatura.profesor.apellido}}</li>
        <li class="list-group-item">{{asignatura.profesor.correoElectronico}}</li>
      </ul>

      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">Datos de la Asignatura</li>
        <li class="list-group-item">Nombre: {{asignatura.nombre}}</li>
      </ul>

      <div class="alert alert-info my-4" *ngIf="asignatura.practicas.length==0">
          No tiene prácticas para realizar!
      </div>

      <table class="table table-striped table-hover table-table-bordered my-3">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Comentario</th>
            <!-- <th>Nota</th> -->
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asignatura of asignatura.practicas">
              <td>{{asignatura.titulo}}</td>
              <td>{{asignatura.comentario}}</td>
              <!-- <td>{{asignatura.nota}}</td> -->
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
