<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor = "let err of errores">
  {{err}}</li>
</ul>
<div class="card bg-dark text-white">
  <!-- Titulo que declaramos luego en el formulario form.components-->
  <div class="card-header">{{titulo}}
    <div class="card-body">
      <!-- Directiva Submit y metodo crado en componentes-->
      <form #usuarioForm= "ngForm">
        <!-- Por cada conjunto de elementos tenemos un form-group y row para que sea horizontal-->
        <div class="form-group row">
          <!--"col-form-label" hace referencia a una clase de boostrap. col-sm-2 indica que ocupe 2 columnas de 12-->
          <label for="nombre" class="col-form-label col-sm-2"> Nombre de la Asignatura</label>
          <div class="" class="col-sm-6">
            <!-- Directiva NG Model que va rellenar con los datos del formulario al objeto usuario y sus atributos. MAPEO OBJETOS A MODELO-->
                                                                                  <!-- Required para validar por la parte del frontend-->
            <input type="text" class="form-control" [(ngModel)]="asignatura.nombre" name= "nombre" required minlength="4" #nombre = "ngModel">
            <!-- Validación de que el campo este relleno y muestre mensaje. DIRTY = escribes y TOUCHED si tocas fuera-->
            <div class="alert alert-danger" *ngIf="nombre.invalid &&(nombre.dirty || nombre.touched)"> <!-- -->
              <div *ngIf = "nombre.errors?.['required']"> <!--Campo para los mensajes de error -->
               El campo nombre es obligatorio
              </div>
              <div *ngIf = "nombre.errors?.['minlength']"> <!--Campo para los mensajes de error -->
               El campo nombre no puede tener menos de 4 caracteres
              </div>
            </div>
          </div>
        </div>

        <!--Boton CRUD Crear -->
        <div class="form-group row">
          <div class="col-sm-6">                            <!-- Condicion. Si no existe lo creamos y sino lo modificamos. MISMO FORMULARIO != FUNCION-->
            <button class= "btn btn-primary" role="button" (click)= 'create()' *ngIf="!asignatura.idAsignatura else elseBlock" [disabled]= "!asignaturaForm.form.valid">Crear Asignatura</button>
            <ng-template #elseBlock>
              <button class= "btn btn-primary" role="button" (click) = 'update()' [disabled]= "!asignaturaForm.form.valid" >Modificar Asignatura</button>
            </ng-template>
          </div>
        </div>
      </form>
        </div>
    </div>
  </div>
