<div class="card bg-ligth" *ngIf="asignatura">
  <div class="card-header">{{asignatura.nombre}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/asignaturas']" class="btn btn-ligth btn-xs">&laquo; Volver</a>
    </h4>
<!--
    <div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/asignaturas/form']">Crear Asignatura</button>
    </div>
-->
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo Electronico</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of asignatura.alumnos">
          <td *ngIf= "alumno.activo" >{{alumno.nombre}}</td>
          <td *ngIf= "alumno.activo" >{{alumno.apellido}}</td>
          <td *ngIf= "alumno.activo" >{{alumno.correoElectronico}}</td>
          <!-- <td><button type="button" name="button" class="btn btn-danger btn-sm" (click)= "delete(asignatura)">Eliminar</button></td>
          <td><button class= "btn btn-primary btn-sm" type="button" [routerLink]= "['/asignaturas/ver', asignatura.idAsignatura]">Ver</button></td> -->
      </tbody>
    </table>
  </div>
</div>
