<div class="card text-black">
  <div class="card-header">Usuarios</div>
  <div class="card-body">
    <h5 class="card-title">Listado de Usuarios</h5>
    <!-- Creamos boton con la url -->
    <div class="my-2 text-left">
                      <!-- Ruta creada en app.module hacia links o enlaces de rutas internas del proyecto-->
    <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/usuarios/form']">Crear usuario</button>
    </div>
            <!-- Comprobamos que la tabla venga con datos o muestre mensaje-->
    <div *ngIf="usuarios?.length == 0" class="alert alert-info">
    No hay registros en la Base de Datos!
    </div>
<table class="table table-bordered table-striped" *ngIf="usuarios?.length>0">
<thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <!--<th>Pass</th>-->
    <th>Email</th>
    <th>Rol</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let usuario of usuarios">
  <td type="button" [routerLink]= "['/usuarios/ver', usuario.idUsuario]" class= "glyphicon glyphicon-align-right"> {{usuario.idUsuario}} </td>
    <td>{{usuario.nombre}}</td>
    <td>{{usuario.apellido}}</td>
    <!--<td>{{usuario.pass}}</td>-->
    <td>{{usuario.correoElectronico}}</td>
    <td>{{usuario.rol.nombre}}</td>
    <td>                                      <!--La ruta tiene dos argumentos, la ruta de usuarios + usuarioid -->
      <button class=" btn btn-primary btn-sm" type="button" name="editar" [routerLink]= "['/usuarios/form', usuario.idUsuario]">Editar</button>
    </td>
    <td>
      <button class=" btn btn-danger btn-sm" type="button" name="eliminar" (click) = "delete(usuario)">Eliminar</button>
    </td>
</tbody>
</table>
  </div>
</div>
